<footer style="background-color:white;" class="content-footer footer">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            ©
            <script>document.write(new Date().getFullYear());</script>
            Bütün hüquqlar qorunur.
        </div>

        <div>
            <a style="color:black;" asp-controller="About" asp-action="Index" class="footer-link me-4">Haqqımızda</a>
            <a style="color:black;" asp-controller="Packages" asp-action="Index" class="footer-link me-4">Xidmətlər</a>
            <a style="color:black;" asp-controller="Faqs" asp-action="Index" class="footer-link me-4">FAQ</a>
            <a style="color:black;" asp-controller="Contact" asp-action="Index" class="footer-link me-4">Əlaqə</a>
        </div>
    </div>
</footer>

<header class="header" id="header">
    <nav class="nav container">
        <a asp-controller="Home" asp-action="Index" class="nav__logo">Job Entryy</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">

                <li class="nav__item">
                    <a asp-controller="Home" asp-action="Index" class="nav__link">
                        <i class="menu-icon tf-icons bx bx-briefcase"></i>
                        <div>Vakansiyalar</div>
                    </a>
                </li>

                <li class="nav__item">
                    <a asp-controller="Categories" asp-action="Index" class="nav__link">
                        <i class="menu-icon tf-icons bx bx-hive"></i>
                        <div>Kateqoriyalar</div>
                    </a>

                </li>

                <li class="nav__item">
                    <a asp-controller="Companies" asp-action="Index" class="nav__link">
                        <i class="menu-icon tf-icons bx bxs-business"></i>
                        <div>Şirkətlər</div>
                    </a>
                </li>

                <li class="nav__item">
                    <a asp-controller="Cities" asp-action="Index" class="nav__link">
                        <i class='menu-icon tf-icons bx bx-map'></i>
                        <div>Şəhərlər</div>
                    </a>
                </li>

                <li class="nav__item">
                    @* <a asp-controller="About" asp-action="Index" class="nav__link">Haqqımızda</a> *@
                    <a asp-controller="About" asp-action="Index" class="nav__link">
                        <i class='menu-icon tf-icons bx bxs-adjust-alt'></i>
                        <div>Haqqımızda</div>
                    </a>
                </li>
                <li class="nav__item">
                    @* <a asp-controller="Services" asp-action="Index" class="nav__link">Xidmətlər</a> *@
                    <a asp-controller="Packages" asp-action="Index" class="nav__link">
                        <i class='menu-icon tf-icons bx bx-window-alt'></i>
                        <div>Xidmətlər</div>
                    </a>
                </li>

                <li class="nav__item">
                    @* <a asp-controller="Faqs" asp-action="Index" class="nav__link">FAQ</a> *@
                    <a asp-controller="Faqs" asp-action="Index" class="nav__link">
                        <i class='menu-icon tf-icons bx bxs-add-to-queue'></i>
                        <div>FAQ</div>
                    </a>
                </li>

                <li class="nav__item">
                    @* <a asp-controller="Contact" asp-action="Index" class="nav__link">Əlaqə</a> *@
                    <a asp-controller="Contact" asp-action="Index" class="nav__link">
                        <i class='menu-icon tf-icons bx bxs-contact'></i>
                        <div>Əlaqə</div>
                    </a>
                </li>

            </ul>
            <i class="nav__close menu-icon tf-icons bx bx-x" id="nav-close"></i>
        </div>

        <div class="nav__btns">

            <div class="nav__toggle" id="nav-toggle">
                <i class='menu-icon tf-icons bx bx-menu'></i>
            </div>
        </div>
    </nav>
</header>
