@using JobEntryy.Application.ViewModels
@model CompanyVM

<div class="container my-2">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Şirkət</h5>
                </div>
                <div class="card-body">
                    <form method="post">

                        <div class="mb-3 form-group">
                            <label asp-for="Name" class="form-label">Şirkət adı</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>


                        <div class="mb-3 form-group">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-group">
                            <label asp-for="PhoneNumber" class="form-label">Telefon</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-group">
                            <label asp-for="Address" class="form-label">Address</label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-group">
                            <label asp-for="WebUrl" class="form-label">WebUrl</label>
                            <input asp-for="WebUrl" class="form-control" />
                            <span asp-validation-for="WebUrl" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-group">
                            <label asp-for="CompanyDescription" class="form-label">Şirkət haqqında</label>
                            <textarea asp-for="CompanyDescription" id="editor" class="form-control"></textarea>
                            <span asp-validation-for="CompanyDescription" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Yenilə</button>
                        <a asp-action="Index" class="btn btn-secondary">Geri qayıt</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}
