﻿
@{
    ViewData["Title"] = "Daxil ol";
    Layout = "_LoginLayout";
}



@using JobEntryy.Application.ViewModels
@model LoginVM

<!-- Content -->
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-2" style="text-align:center; padding:10px 0;">Xoş gəlmisiniz 👋</h4>
                    <p class="mb-4">Email və şifrənizi daxil edərək hesabınıza giriş edib yeni vakansiyalar paylaşa bilərsiniz</p>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                    <form method="post">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>

                        <div class="mb-3 form-password-toggle">
                            <label asp-for="Password" class="form-label">Şifrə</label>
                            <div class="input-group input-group-merge">
                                <input asp-for="Password" class="form-control" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>

                        <div class="mb-3">
                            <div class="form-check">
                                <input asp-for="IsRemember" class="form-check-input" type="checkbox" id="remember-me" />
                                <label asp-for="IsRemember" class="form-check-label" for="remember-me"> Məni Xatırla </label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Daxil Ol</button>
                            <a class="btn btn-secondary my-2 w-100" asp-controller="Home" asp-action="Index">Ana səhifəyə qayıt</a>
                        </div>
                    </form>
                    <p class="text-center">
                        <span>Hesabınız yoxdur?</span>
                        <a asp-controller="Account" asp-action="Register">
                            <span>Yeni hesab yarat</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>
<!-- / Content -->
@section ScriptLogin {
    <partial name="_ValidationScriptsPartial" />
}