

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Company"))
    {
        <a class="btn btn-success text-white" asp-area="Company" asp-controller="Profile" asp-action="Index">Şirkət paneli</a>
    }
    if (User.IsInRole("Admin"))
    {
        <a class="btn btn-success text-white" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Panel</a>
    }
}
else
{
    <a class="btn btn-success text-white" asp-area="Account" asp-controller="Login" asp-action="Index">Yeni Vakansiya</a>
}