@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer


@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Company"))
    {
        <a class="btn btn-success text-white" asp-area="Company" asp-controller="Profile" asp-action="Index">@localizer["Şirkət paneli"]</a>
    }
    if (!User.IsInRole("Company"))
    {
        <a class="btn btn-success text-white" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Panel</a>
    }
}
else
{
    <a class="btn btn-success text-white" asp-controller="Account" asp-action="Login">@localizer["Yeni Vakansiya"]</a>
}
