@using JobEntryy.Application.ViewModels
@model CompanyVM

@{
    ViewData["Title"] = "Profil";
    Layout = "_CompanyLayout";
}

@section Css{
    <style>

    </style>
}


<!-- Content -->
<div class="col-md-12 my-5">
    <ul class="nav nav-pills flex-column flex-md-row mb-3">
        <li class="nav-item">
            <a class="nav-link active" asp-action="Index"><i class="bx bx-user me-1"></i> Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Vacancies" asp-action="Index"><i class="tf-icons bx bx-briefcase"></i> Vakansiyalar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Vacancies" asp-action="Create"><i class='bx bx-plus-medical'></i> Yeni vakansiya</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="ChangePassword"><i class='bx bxs-lock-open'></i> Şifrəni dəyiş</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="default" asp-controller="Account" asp-action="Logout"><i class='bx bx-power-off'></i> Çıxış et</a>
        </li>
    </ul>
        <div class="card mb-4">
            <!-- Account -->
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <div>
                        <img src="~/assets/img//company/@Model.Image" class="d-block rounded" height="100" width="115" />
                        <h5 style="margin-top:10px;">@Model.Name</h5>
                        <span style="font-size:14px;margin-top:-11px;">Vakansiyaların sayı - @Model.JobsCount (<a style="color:red;text-decoration:underline" asp-controller="Vacancies" asp-action="Index">Vakansiyaları gör</a>)</span>
                    </div>

                    <div class="button-wrapper">
                            <a asp-action="UploadImage" class="btn btn-primary me-2 mb-4">
                                <span class="d-none d-sm-block">Yenilə</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                            </a>
                    </div>
                </div>
            </div>

            <hr class="my-0" />
            <span style="margin-left:15px;">Hesabı yenilədkidən sonra hesabdan çıxış ediləcəkdir.</span><hr />
            <div class="card-body">
                <form id="formAccountSettings" method="post">
                    <div class="row">

                      
                        <div class="mb-3 col-md-6">
                            <label asp-for="Name" for="email" class="form-label">Şirkətin adı</label>
                            <input asp-for="Name" class="form-control" />
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label asp-for="Email" for="email" class="form-label">Elektron Poçt</label>
                            <input asp-for="Email" class="form-control" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label asp-for="WebUrl" for="email" class="form-label">İnternet adresi</label>
                            <input asp-for="WebUrl" class="form-control" />
                            <span class="text-danger" asp-validation-for="WebUrl"></span>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label asp-for="PhoneNumber" for="email" class="form-label">Telefon nömrəsi</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label asp-for="Address" for="email" class="form-label">Adres</label>
                            <input asp-for="Address" class="form-control" />
                            <span class="text-danger" asp-validation-for="Address"></span>
                        </div>

                        <div class="mb-3 form-group">
                            <label asp-for="CompanyDescription" class="form-label">Şirkət haqqında</label>
                            <textarea asp-for="CompanyDescription" id="editor" class="form-control"></textarea>
                            <span asp-validation-for="CompanyDescription" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-success me-2">Yenilə</button>
                    </div>
                </form>
            </div>

            <!-- /Account -->
        </div>
    </div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

}