@model Package

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Paketlər</h5>
            </div>
            <div class="card-body">
                <form method="post">

                    <div class="mb-3 form-group">
                        <label asp-for="Name" class="form-label">Ad</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Price" class="form-label">Qiymət</label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Description" class="form-label">Təsvir</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="ForCompany" class="form-label">Şirkət üçün</label>
                        <input asp-for="ForCompany" />
                    </div>

                    <button type="submit" class="btn btn-primary">Yenilə</button>
                    <a asp-action="Index" class="btn btn-secondary">Geri qayıt</a>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}